* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    color: white;
    font-size: 1.05rem;
}

body {
    background-image: radial-gradient(rgb(19, 4, 63), rgb(7, 10, 14));
}

.container {
    display :flex;
    flex-direction: column;
}

.middle {
    display: flex;
    flex: 1 1 35em;
}

.middle-left,
.middle-right {
    flex: 1 .5 5em;
}

.middle-middle {
    display: flex;
    flex: .7 1 auto;
    width: 1em;
    min-width: 20em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 3em;
    background-color: rgba(181, 204, 255, 0.1);
    border: .15em solid;
    border-color: rgb(255, 154, 255);
}

.output {
    width: 85%;
    margin-bottom: 4em;
    text-align:end;
    background-color: rgba(249, 207, 255, 0.014);
    border-radius: 1em;
}
.output-text {
    font-size: 3rem;
    margin-right: .5em;
}

.buttons-container {
    width: 85%;
    height: 55%;
    margin-bottom: 1em;
    display:flex;
}

.buttons-left {
    flex: 1 1 80%;
    display:flex;
    flex-direction: column;
}

.button-row {
    flex: 1 1 20%;
    display:flex;
}

button {
    flex: 1 1 33%;
    margin: .5em;
    border-radius: 1.3em;
    outline: none;
    box-shadow: none;
    border: .15em solid pink;
}

.button-row button {
    background-color: rgba(255, 255, 255, 0.212);
}

.buttons-left .button-row .b0 {
    flex: 2 1 50%;
}
.buttons-left .button-row .bdec {
    flex: 1 1 25%;
}

.buttons-right {
    flex: 1 1 20%;
    display:flex;
    flex-direction: column;
}

.buttons-right button {
    background-color: rgb(0, 34, 97);
}



.header,
.footer {
    flex: 1 1 6em;
    /* min-height: 1000px; */
}