* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    color: white;
    font-size: 1.05rem;
    cursor: url('cursor.png'), default;
}

body {
    background-image: radial-gradient(rgb(19, 4, 63), rgb(7, 10, 14));
}

.container {
    display :flex;
    flex-direction: column;
}

.middle {
    display: flex;
    flex: 1 1 35em;
}

.middle-left,
.middle-right {
    flex: 1 .5 5em;
}

.middle-middle {
    display: flex;
    flex: .7 1 auto;
    width: 1em;
    min-width: 20em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 3em;
    background-color: rgba(181, 204, 255, 0.1);
    border-top:.1em solid;
    border-left :.1em solid;
    border-right: .2em solid;
    border-bottom: .2em solid;
    border-color: rgb(255, 154, 255);
    box-shadow: 0em 0em 5em rgba(125, 0, 156, 0.459);
    transition: .11s;
    /* border-top-color: white;
    border-left-color: white; */
}

.output {
    flex: 0 1 15%;
    width: 85%;
    margin-bottom: 4em;
    text-align:end;
    background-color: rgba(249, 207, 255, 0.014);
    border-radius: 1em;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.history {
    flex: 1 1 40%;
    font-size: 1.5rem;
    margin-right: 2em;
}

.output-text {
    flex: 1 1 60%;
    font-size: 3rem;
    margin-right: .36em;
}

.buttons-container {
    width: 85%;
    height: 55%;
    margin-bottom: 1em;
    display:flex;
}

.buttons-left {
    flex: 1 1 80%;
    display:flex;
    flex-direction: column;
}

.button-row {
    flex: 1 1 20%;
    display:flex;
}

button {
    flex: 1 1 33%;
    margin: .5em;
    border-radius: 1.3em;
    outline: none;
    box-shadow: none;
    border: .15em solid pink;
    font-weight: 600;
    transition: .07s;
}

.button-row button {
    background-color: rgba(255, 255, 255, 0.212);
}

.buttons-left .button-row .b0 {
    flex: 2 1 50%;
}
.buttons-left .button-row .bdec {
    flex: 1 1 25%;
}

.buttons-right {
    flex: 1 1 20%;
    display:flex;
    flex-direction: column;
}

.buttons-right button {
    background-color: rgb(0, 34, 97);
}

.buttons-left .button-row .bdiv {
    background-color: rgb(0, 34, 97);
}

.buttons-right button.equals,
.buttons-right button.badd {
    flex: 1 1 30%;
}
.buttons-right button.bmul,
.buttons-right button.bsub {
    flex: 1 1 20%;
}



.header,
.footer {
    flex: 1 1 6em;
    /* min-height: 1000px; */
}

.press-effect,
.hover-effect {
    transform: scale(1.15);
    box-shadow: 0em 0em 2em rgba(255, 192, 203, 0.116);
    color: rgb(224, 157, 255)
}

.click-effect {
    transform: scale(.95);
    box-shadow: 0em 0em 3.5em rgba(251, 237, 255, 0.616);
}

.press-effect {
    box-shadow: 0em 0em 3.5em rgba(251, 237, 255, 0.616);
}


.operator-effect {
    transform: scale(1.2);
    box-shadow: 0em 0em 3em rgb(0, 204, 255);
    color:rgb(0, 204, 255);
}

.reset-effect {
    transform: scale(1.05) rotate(10deg);
    box-shadow: 0em 0em 10em rgba(45, 213, 255, 0.726);
}

